html,
body {
  height: 100%;
  background-image: linear-gradient(225deg, rgb(20, 3, 37), rgb(7, 4, 8));
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
}

* {
  border-radius: 25px;
}

#title,
#title h2 {
  font-family: sans-serif;
  text-align: center;
  padding: 15px 15px;
  font-size: 54pt;
  transition: all;
  transition-duration: 0.3s;
  width: fit-content;
  margin: 5px auto;
  user-select: none;
  border-radius: 15px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
}
#title h2:hover {
  background-color: rgba(255, 255, 255, 0.082);
  font-size: 56pt;
}

#description {
  display: flex;
  justify-content: center;
  margin: 15px;
}

#description p {
  padding: 10px 15px;
  width: 800px;
  text-align: justify;
  font-size: 15pt;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#description p:hover {
  background-color: rgba(255, 255, 255, 0.185);
}

#carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#app {
  display: grid;
  grid-template-areas:
    "window"
    "navbar";
  grid-template-rows: auto max-content;
  height: 100%;
}

#window {
  grid-area: "window";
}

#navbar {
  grid-area: "navbar";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  position: sticky;
  bottom: 0px;
  background-color: black;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li,
.navbar-arrow,
.carousel-arrow {
  padding: 15px;
  user-select: none;
  transition: "background-color";
  transition-duration: 0.3s;
}

.carousel-arrow {
  margin: 5px;
}

#navbar li:hover,
.navbar-arrow:hover,
.carousel-arrow:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

.hideimg {
  display: none;
  opacity: 0;
}

.displayimg {
  opacity: 100;
  border: 3px solid transparent;
  transition: all;
  transition-duration: 0.3s;
}

.displayimg:hover {
  border: 3px solid white;
}

.activeItem {
  background-color: rgba(255, 255, 255, 0.424);
}
