body{
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
}

.nav-bar{
    background-color: #2c124e;
    width: auto;
    min-height: 128px;
    
}
